.row.text-muted.text-center.landing
  .col-md-8.col-md-offset-2
    .introduction
      %h1 Paul Kuttiya
      %br
      %h4.lead Softwore Engineer
      %h4.lead Full Stack Developer
      %br
      .highlights.lead.icons
        %i.devicon-rails-plain-wordmark.colored
        %span +
        %i.devicon-react-original-wordmark.colored
        %span = ME
    .detail
      %p.lead
        Hi, I am a software engineer specializing in web development with focusing on TDD principles.
        I'm fluent in ruby on rails and React.
        I'm currenly living in New York City,
        and always enjoy working with and connecting to other talented individuals.
        I'm always looking forward to expanding my potentials and skills,
        If you like my work, or would like to have a chat, please let me know.
        I'd love to talk to you.
    .skills
      %h3 proficiencies
      .col-md-6
        %p.lead Language
        .icons
          %i.devicon-ruby-plain-wordmark.colored
          %i.devicon-javascript-plain.colored       
      .col-md-6
        %p.lead Framework
        .icons
          %i.devicon-rails-plain-wordmark.colored
          %i.devicon-react-plain-wordmark.colored
          %i.devicon-backbonejs-plain-wordmark.colored
    .showcase
      %h3 projects
      .showcase-img
        = link_to root_path, class: "wide" do
          %img(src="http://via.placeholder.com/400x200")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          %img(src="http://via.placeholder.com/200x200")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          %img(src="http://via.placeholder.com/200x200")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "wide" do
          %img(src="http://via.placeholder.com/400x200")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          %img(src="http://via.placeholder.com/200x200")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          %img(src="http://via.placeholder.com/200x200")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          %img(src="http://via.placeholder.com/200x200")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
    .contacts
      %h3 contact me
      = link_to "mailto:w.kuttiya@gmail.com" do
        = fa_stacked_icon "envelope", base: "circle", class: "fa-2x"
      %p Email: w.kuttiya@gmail.com
      %form.form-horizontal
        %fieldset
          .form-group
            %label.col-md-2.control-label{:for => "email"} Email
            .col-md-10
              %input#email.form-control{:placeholder => "Email", :type => "text"}
          .form-group
            %label.col-md-2.control-label{:for => "textArea"} About
            .col-md-10
              %textarea#textArea.form-control{:rows => "6", placeholder: "Hey, looking forward to getting back from you."}
          .form-group
            .col-md-offset-2
              %button.btn.btn-default{:type => "submit"} Submit