.row.text-center.landing
  .col-md-8.col-md-offset-2
    %section.introduction
      %h1 Paul Kuttiya
      %br
      %h4.lead Softwore Engineer
      %h4.lead Full Stack Developer
      %br
      .highlights.lead.icons
        %i.devicon-rails-plain-wordmark.colored
        %span +
        %i.devicon-react-original-wordmark.colored
        %span = ME
    %section.detail
      %p.lead
        Hi, I am a New York City based software engineer, specializing in web development with focusing on TDD and DRY principles.
        I am fluent in Ruby on Rails and React.
        I regularly enjoy working with, and connecting to other talented individuals.
        <br>
        <br>
        <br>
        I'm always looking forward to expanding my potentials and skills. 
        If you like my work, or would like to have a chat, please let me know.
        I'd love to talk to you.
    %section.skills
      %h3 proficiencies
      .col-md-6
        %p.lead Language
        .icons
          %i.devicon-ruby-plain-wordmark.colored
          %i.devicon-javascript-plain.colored       
      .col-md-6
        %p.lead Framework
        .icons
          %i.devicon-rails-plain-wordmark.colored
          %i.devicon-react-plain-wordmark.colored
          %i.devicon-backbonejs-plain-wordmark.colored
    %section.showcase
      %h3 projects
      .showcase-img
        = link_to root_path, class: "wide" do
          -# %img(src="/images/sushi.png")
          .img{:style => "background-image: url(/images/myflix.png);"}
          .cover-logo
            %img(src="/images/myflix_logo.png")
          .overlay
            .text
              .image-title MyFlix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/todo.png);"}
          .cover-logo
            %img(src="/images/todos_logo.png")
          .overlay
            .text
              .image-title Todos
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/weather.png);"}
          .cover-logo
            %img(src="/images/forecast_logo.png")
          .overlay
            .text
              .image-title Weather
              %p A Video subscriber for customer.
        = link_to root_path, class: "wide" do
          .img{:style => "background-image: url(/images/sushi.png);"}
          .cover-logo
            %img(src="/images/order_logo.png")
          .overlay
            .text
              .image-title Sushi
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/todo.png);"}
          .cover-logo
            %img(src="/images/forecast_logo.png")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/myyelp.png);"}
          .cover-logo
            %img(src="/images/myyelp_logo.png")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/todo.png);"}
          .cover-logo
            %img(src="/images/myyelp_logo.png")
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
    %section.contacts
      %h3 contact me
      = link_to "mailto:w.kuttiya@gmail.com" do
        = fa_stacked_icon "envelope", base: "circle", class: "fa-2x"
      %p Email: w.kuttiya@gmail.com
      %form.form-horizontal
        %fieldset
          .form-group
            %label.col-md-2.control-label{:for => "email"} Email
            .col-md-10
              %input#email.form-control{:placeholder => "Email", :type => "text"}
          .form-group
            %label.col-md-2.control-label{:for => "textArea"} About
            .col-md-10
              %textarea#textArea.form-control{:rows => "6", placeholder: "Hey, looking forward to getting back from you."}
          .form-group
            .col-md-offset-2
              %button.btn.btn-default{:type => "submit"} Submit